#content{:style => 'position: relative'}
  .hero-unit
    %h1 BrandGauge
    %p
    %p
      Track the social impact of your brand's campaigns.

    %ul.thumbnails
      %li.span3
        .thumbnail
          %img.front_screenshot{:alt => "", :src => "/images/influence_over_time.png"}
            .caption
              %p Track your brand's sentiment over time
      %li.span3
        .thumbnail
          %img.front_screenshot{:alt => "", :src => "/images/tweeters.png"}
            .caption
              %p See what people are saying
      %li.span3
        .thumbnail
          %img.front_screenshot{:alt => "", :src => "/images/top_influencers.png"}
            .caption
              %p Look at the top influencers of your brand

    %p#beta_form_container

      / Begin MailChimp Signup Form
      %link{:href => "http://cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel => "stylesheet", :type => "text/css"}
        :css
          #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "http://herokuapp.us4.list-manage.com/subscribe/post?u=295b45f26333b54dd497e7959&id=26b8e35233", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank", :style => "padding: 0px;"}
            %label{:for => "mce-EMAIL"} Request Access to our Beta
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
              .clear
                %input#mc-embedded-subscribe{:name => "Request Access", :type => "submit", :value => "Subscribe", :class => "btn btn-large btn-primary"}/
    / End mc_embed_signup
    %p
      %h4
        Already have an account?
        = link_to "Sign in", user_session_path
      %p
        In preparation for the demo we have turned off all login credentials.
        We appologize for any inconvenience
        

